/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
  min-block-size: 100dvb;
  background-image: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), 
              repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
              linear-gradient(to bottom, #e7e7e7 0%, #1a1a1a);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--bacis-font-family), sans-serif;
  font-variation-settings: 'wght' var(--text-wight);
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: var(--accent-font-family), sans-serif;
  font-weight: 400;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  padding: clamp(122px, 1vh, 130px) clamp(16px, 1vw, 122.5px);
  margin: 100px 0;
}

.title_block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title_header {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.subtitle_header {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.cards_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

.card_title {
  font-variation-settings: 'wght' var(--title-wight);
  font-size: 18px;
  padding: 4px 10px;
}

.card_body {
  position: relative;
}

.label {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 25px;
  color: rgba(0, 0, 0,0.5);
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

@supports (text-stroke: 0.5px rgba(255, 255, 255, 0.5)) {
  .label {
    text-stroke: 0.5px rgba(255, 255, 255, 0.5);
  }
}

.card_image {
  /* width: minmax(375px, 696px); */
   /* max-block-size: 696px;
  max-inline-size: 696px; 
  min-block-size: 371px;
  min-inline-size: 371px; */
  inline-size: 100%;
  object-fit: cover;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  aspect-ratio: 1/1;
}

.image_mix {
  filter: brightness(2) contrast(0.8) saturate(4) hue-rotate(9deg);
}

.image_grayscale {
  filter: grayscale(0.8);
}

.image_contrast {
  filter: contrast(5);
}

.image_invert {
  filter: invert(0.7);
}

.image_sepia {
  filter: sepia(5);
}

.image_blur {
  filter: blur(0.2rem);
}

.image_brightness {
  filter: brightness(0.8);
}

.image_hue-rotate {
  filter: hue-rotate(90deg);
}

.card_footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card_text {
  font-variation-settings: 'wght' var(--text-wight);
  font-size: 18px;
  line-height: 21px;
}

.button-group {
  display: flex;
  gap: 7px;
  align-self: end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
}

.card__like-button {
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 0;  
  width: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font-family);
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  color: #fff;
  background-color: #000;
}

.button_save {
  display: flex;
  gap: 8px;
  justify-items: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  cursor: pointer;
  align-self: center;
  padding: 17px 20px;

}

.button_save .card_svg {
  width: 21px;
  height: 21px;
}

.button_svg {
  mix-blend-mode: difference;
  fill: #fff;
  background-color: #000;
}

.dialog {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;  
}

.dialog_text {
  font-family: var(--accent-font-family), sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  max-inline-size: 234px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.8);
} 

dialog[open] {
  padding: 30px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 150%;
  align-items: center;
  font-variation-settings: 'wght' var(--accent-font-family);

}

.dialog-body {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  
}

.dialog_svg {
  width: 39px;
  height: 39px;
}

.button__text_close {
  text-transform: uppercase;
}

.header__menu-button_cmd_close {
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before{
  transform: scaleX(1);
}

.button:focus, .card__icon-button {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px #000;
  outline: none;
}

.button {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible{
  border: 2px solid #000;
}

/* animation */

.sparks{
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core, .main-body {
  fill: transparent;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

/* :hover */

.like-icon:hover .core ,.like-icon:hover .main-body {
  fill: var(--counter_color);
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  transition: fill 0.3s linear 0.05s;
}

/* :active */

.like-icon:active .core ,.like-icon:active .main-body {
  fill: var(--animation-fill-color);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  transition: fill 0.3s linear 0.05s;
}

/* .is-liked */

.like-icon.is-liked .core, .like-icon.is-liked .main-body, .like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s linear 0.06s ;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s ; 
}

.like-icon.is-liked {
  transform-origin: center;
}

.like-icon.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s; 
}

@media (width < 376px) {
  .button_save .card_svg {
    width: 28px;
    height: 28px;
  } 

  dialog[open] {
    padding: 30px 40px;
  }

  .button_save {
    display: flex;
    gap: 8px;
    flex-direction: column;
  } 
}

